<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <hr/>
      <%@pages.each do |page| %>
      <div>
        <div class="title">
          <a href="<%=read_url(page.url)%>"><h3><%=page.title%></h3></a>
        </div>
        <div class="tags">
          <%(page.tags || []).each do |tag|%>
          <a class="label label-inverse" href="<%=read_url(tag)%>"><%=tag%></a>
          <%end%>
        </div>
        <hr/>
      </div>
      <%end%>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>