
hr {
  border-color: rgba(0,0,0,0.1);
}
a {
  color: inherit;
  transition: color 0.3s;
  &:hover {
    text-decoration: none;
    color: #666;
  }
}
header {
  font-family: 'Play';
  font-weight: 700;
  h2 {
    margin-top: 30px;
  }
}

.piece, .footnote {
  a {
    color: #555;
    border-bottom: thin solid rgba(0,0,0,0.2);
  }
}

.title {
  h3 {
    font-weight: 400;
  }
}

.label {
  text-transform: lowercase;
  background: rgba(0,0,0,0.3);
  font-weight: 400;

}

body {
  font-size: 16px;
  font-family: 'Ubuntu';
  line-height: 1.618;
}

code {
  font-family: 'Ubuntu Mono';
  font-size: inherit;
}
pre {
  overflow-x: auto;
  padding: 1em;
  line-height: 1.626;
  @media (max-width: 1200px) {
    line-height: 1.5;
  }
  @media (max-width: 767px) {
    padding: 0.618rem;
    line-height: 1.5;
  }
  white-space: pre;
  word-wrap: normal ;
}