
hr {
  border-color: rgba(0,0,0,0.1);
}
a {
  color: inherit;
  transition: color 0.3s;
  &:hover {
    text-decoration: none;
    color: #666;
  }
}
header {
  font-family: 'Play';
  font-weight: 700;
}

.piece, .footnote {
  a {
    color: #555;
    border-bottom: thin solid rgba(0,0,0,0.2);
  }
}

.label {
  text-transform: uppercase;
  background: gray;
}

body {
  font-size: 16px;
  font-family: 'Ubuntu';
  line-height: 1.618;
  background: $bg;
}

code {
  font-family: 'Ubuntu Mono';
}
pre {
  overflow-x: auto;
  padding: 1em;
  line-height: 1.626;
  @media (max-width: 1200px) {
    line-height: 1.5;
  }
  @media (max-width: 767px) {
    padding: 0.618rem;
    line-height: 1.5;
  }
  white-space: pre;
  word-wrap: normal ;
}